<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <form class="form-inline">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
          aria-label="Search">
      </form>
      <a href="#"><img style="height: 50px; width: 50px;" src="https://cdn.discordapp.com/attachments/704764867671752774/715517970641584128/Kosmoteo_200x200_Logo.png"></a>
      <a class="nav-link" href="/first-component"><p class="text-justify"></p></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/second-component"><span class="glyphicon glyphicon-heart"></span></a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="/koszyk-component"><span class="glyphicon glyphicon-shopping-cart"></span></a>
        </li>
     <li class="nav-item">
        <a class="nav-link" href="/logowanie-component"><span class="glyphicon glyphicon-user"></span></a>
            </li>
          </ul>

    </div>
  </nav>

<!--///////////////////////////////////////////////////////////////////////////////////////////////-->

<div class="container menu">
  <ul class="list-group list-group-horizontal">
  <li class="list-group-item">
  <a class="nav-link" href="/first-component">Strona główna</a>
  </li>
  <li class="list-group-item">
   <a class="nav-link" href="/promocje-component">Promocje</a>
  </li>
<li class="list-group-item">
  <a class="nav-link" href="/makijaz-component">Makijaż</a>
      </li>
      <li class="list-group-item">
        <a class="nav-link" href="/zapachy-component">Zapachy</a>
            </li>
<li class="list-group-item">
              <a class="nav-link" href="/wlosy-component">Włosy</a>
                  </li>
<li class="list-group-item">
                    <a class="nav-link" href="/cialo-component">Ciało</a>
                        </li>
<li class="list-group-item">
<a class="nav-link" href="/twarz-component">Twarz</a>
</li>
<li class="list-group-item">
  <a class="nav-link" href="/higiena-component">Higiena</a>
  </li>
<li class="list-group-item">
    <a class="nav-link" href="/zdrowie-component">Zdrowie</a>
    </li>
    <li class="list-group-item">
      <a class="nav-link" href="/ochronne-component">Produkty Ochronne</a>
      </li>
    </ul></div>
  <!-- Page Content -->
  <router-outlet></router-outlet>
</body>

<div class="row">
  <div class="col">
    <app-footer></app-footer>
  </div>
</div>
</html>

